
// ------------------------------------------------------------
// Base styles
// ------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

body {
  font-family: $font-family;
  line-height: 1.4;
  font-weight: 400;
  height: 100%;
  background-color: #e5e5e5;
  color: $gray-darker;
  margin: 0;
}

a {
  color: $brand-primary;
  cursor: pointer;
  text-decoration: none;
  transition: color .2s ease;

  &:focus,
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

figure {
  margin: 0;

  img {
    width: 100%;
    margin: 0;
    display: block;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: rgba(#fff, .15);
  margin: 0;
}

::selection {
  background-color: $brand-primary;
  color: #fff;
}
