
// --------------------------------------------------------------------------
// Context
// --------------------------------------------------------------------------

.context {
  width: 66.666%;
  margin-left: 33.333%;
  padding: rem(30) rem(30) rem(30) 0;

  &__inner {
    background-color: #fff;
    border: solid 4px $gray-darker;
    padding: rem(80);

    > .grid {
      width: 100%;
      display: flex;
      background: $gray-dark;

      > [class^='col--'] {
        background-color: #fff;
        margin-right: 4px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
