
// --------------------------------------------------------------------------
// Fonts
// --------------------------------------------------------------------------

@font-face {
  font-family: 'nitti-grotesk';
  src: url('../static/fonts/nittigrotesk-normal-v20.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nitti-grotesk';
  src: url('../static/fonts/nittigrotesk-bold-v20.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
