// --------------------------------------------------------------------------
// Grid layout
// --------------------------------------------------------------------------

.grid {
  margin-left: $grid-gutter / -2;
  margin-right: $grid-gutter / -2;
  @include clearfix();

  &--align-center {
    display: flex;
    align-items: center;
  }

  &--no-gutter {
    margin-left: 0;
    margin-right: 0;

    > [class^='col--'] {
      padding: 0;
    }
  }
}

.col--1-3,
.col--2-3,
.col--1-4,
.col--1-12,
.col--3-4,
.col--1-2 {
  float: left;
  padding: 0 ($grid-gutter / 2);
  min-height: 1px;
}

@include grid-col("1-12", 8.333%);
@include grid-col("1-4", 25%);
@include grid-col("1-3", 33.333%);
@include grid-col("1-2", 50%);
@include grid-col("2-3", 66.667%);
@include grid-col("3-4", 75%);

