// --------------------------------------------------------------------------
// Mixins
// --------------------------------------------------------------------------

// Wrap element with pseudo clear fix
@mixin clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}


// Remove paddings/style from lists
@mixin unstyle-list() {
  padding-left: 0;
  list-style: none;
}

// Strip units
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Relative units from pixels
$baseFontSize : 16;
@function rem($pixels, $context: $baseFontSize) {
  $u-pixels: strip-unit($pixels);
  $u-context: strip-unit($context);

  @if (unitless($u-pixels)) {
    $u-pixels: $u-pixels * 1px;
  }

  @if (unitless($u-context)) {
    $u-context: $u-context * 1px;
  }

  @return $u-pixels / $u-context * 1rem;
}
