
// ------------------------------------------------------------
// Global variables
// ------------------------------------------------------------


// Colors
// ------------------------------------------------------------

$brand-primary: #189E5E;
$brand-warning: #EA3434;

$gray-lighter: #F2F2F2;
$gray-light: #C1BFC0;
$gray: #888888;
$gray-dark: #1F1F1F;
$gray-darker: #000;


// Quick colors
$stylized-wrap: rgba(#fff, .5);


// Modular Scale
// ------------------------------------------------------------

$mod-l7: rem(726);
$mod-l6: rem(449);
$mod-l5: rem(277);
$mod-l4: rem(171);
$mod-l3: rem(106);
$mod-l2: rem(65);
$mod-l1: rem(40);
$mod-0:  rem(25);
$mod-s1: rem(16);
$mod-s2: rem(10);
$mod-s3: rem(6);
$mod-s4: rem(4);


// Typography
// ------------------------------------------------------------

$font-family: "nitti-grotesk", Helvetica, Arial, sans-serif;

$font-size-small: $mod-s1;
$font-size-base: $mod-0;
$font-size-large: $mod-l1;
$font-size-h6: $mod-s1;
$font-size-h5: $mod-s1;
$font-size-h4: $mod-s1;
$font-size-h3: $mod-0;
$font-size-h2: $mod-l1;
$font-size-h1: $mod-l3;

$line-height-base: 1.47;


// Positioning
// ========================================

$z-top: 1000;
$z-way-above: 100;
$z-more-above: 50;
$z-above: 10;
$z-below: -1;


// Layout
// ========================================

$grid-gutter: 36px;
$max-width: 1166px;
$min-width: 320px;
$side-spacing: 60px;


// Animation
// ========================================

$bezier: cubic-bezier(.41,.39,.26,1);


// Breakpoints
// ========================================

$bp-xxl: 1920px;
$bp-xl: 1280px;
$bp-lg: 1024px;
$bp-md: 768px;
$bp-sm: 568px;
$bp-xs: 360px;




